<!DOCTYPE html>
<html lang="{{ site.lang | default: "ca" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="present-container">
    <img src="images/page/podcast-new-logo.svg" alt="Més enllà del 2048?"/>
    <div id="page-title">{{page.title}}</div>
    <div id="page-subtitle">{{page.subtitle}}</div>
    <div id="hosts-names">amb David Poblador i Oscar García</div>
  </div>
</body>

</html>